#hotel-section{
    display: flex;
}

#hotel-section a{
    color: black;
    text-decoration: none;
}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #f2f2f2;
}

.fa-star{
    font-size: 11px;
}

.show-more{
    font-size: 18px;
    font-weight: 700;
}

/* Parts left of section hotel */


.hotel-section-left{
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 3%;
    margin-right: 40px;
}

.hotel-search-result-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

.hotel-card-search-result{
    background-color: white;
    width: 31%;
    height: 199px;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: transform .1s;
    box-shadow: 1px 1px 5px #d9d9d9;
}

.hotel-card-search-result:hover{
    transform: scale(1.05);
}

.hotel-search-result-section img{
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}


.card-search-result-body{
    padding-left: 11px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-price p{
    font-size: 14px;
    /* padding: 9px 0; */
}


.card-classification{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 11px;
}


/* Parts right of section hotel */



.populare-accommodation-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populare-accommodation-title i{
    color: #0065FC;
}

.hotel-section-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 3%;
}

.populare-accommodation-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.populare-accommodation-card{
    background-color: white;
    width: 100%;
    height: 144px;
    border-radius: 20px;
    margin-top: 25px;
    transition: transform .1s;
    box-shadow: 1px 1px 5px #d9d9d9;
}

.populare-accommodation-card:hover{
    transform: scale(1.05);
}

.populare-accommodation-card-containt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.populare-accommodation-card img{
    box-sizing: border-box;
    height: 100%;
    width: 137px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: 5px solid #FFFFFF;
}

.populare-accommodation-card-image{
    height: 144px;
}

.populare-accommodation-card-body{
    height: 144px;
    padding-left: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card2-title{
    padding: 10px 0 5px 0;
}


/* Media Query */


@media all and (max-width: 992px) {

    .hotel-section-left{
        margin-right: 0px;
        margin-bottom: 50px;
    }
    
    
    #hotel-section{
        flex-direction: column;
    }

    .populare-accommodation-section{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
    }

    .populare-accommodation-card{
        width:32%
    }

    .populare-accommodation-card-image img{
        width: 106px;
    }

    .populare-accommodation-card-body{
        padding-left: 5px;
        padding-right: 8px;
    }

    .populare-accommodation-card-body h3{
        font-size: 14px;
    }

    .populare-accommodation-card-body p{
        font-size: 13px;
    }

   
}

@media all and (max-width: 768px) {

    #hotel-section{
        padding: 0;
    }

    .hotel-section-left{
        order: 2;
        background-color: white;
        margin-bottom: 20px;
        padding: 25px 20px 0 20px;
    }

    .hotel-search-result-section{
        flex-direction: column;
    }

    .hotel-card-search-result{
        width: 100%;
        margin-bottom: 12px;
    }
    
    .show-more{
        display: none;
    }

    .hotel-section-right{
        border-radius: 0;
        padding: 0 20px 0 20px;
    }

    .populare-accommodation-title{
        padding-top: 25px;
    }

    .populare-accommodation-section{
        flex-direction: column;
        padding-bottom: 45px;
    }

    .populare-accommodation-card{
        width: 100%;
    }

    .populare-accommodation-card-image img{
        width: 137px;
    }

    .populare-accommodation-card-body h3{
        font-size: 16px;
    }

    .populare-accommodation-card-body p{
        font-size: 14px;
    }

    .cpopulare-accommodation-card-body{
        padding-left: 14px;
        padding-right: 10px;
    }
}