#hotel-section{
    display: flex;
}

#hotel-section a{
    color: black;
    text-decoration: none;
}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #f2f2f2;
}

.fa-star{
    font-size: 11px;
}

.show-more{
    font-size: 18px;
    font-weight: 700;
}

/* Parts left of section hotel */


.hotel-section-left{
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 3%;
    margin-right: 40px;
}

.hotel-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

.hotel-cards-section{
    background-color: white;
    width: 31%;
    height: 199px;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: transform .1s;
    box-shadow: 1px 1px 5px #d9d9d9;
}

.hotel-cards-section:hover{
    transform: scale(1.05);
}

.hotel-section img{
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}


.card1-body{
    padding-left: 11px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card1-price p{
    font-size: 14px;
    /* padding: 9px 0; */
}


.card1-classification{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 11px;
}


/* Parts right of section hotel */



.title-populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-populaire i{
    color: #0065FC;
}

.hotel-section-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 3%;
}

.hotel-populaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.hotel-populaire-cards{
    background-color: white;
    width: 100%;
    height: 144px;
    border-radius: 20px;
    margin-top: 25px;
    transition: transform .1s;
    box-shadow: 1px 1px 5px #d9d9d9;
}

.hotel-populaire-cards:hover{
    transform: scale(1.05);
}

.populaire-card-containt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.hotel-populaire-cards img{
    height: 100%;
    width: 137px;
    border-radius: 20px 0 0 20px;
}

/* .card2-image{
    flex: 1;
    
}

#card-body-populaire{
    flex: 2;
} */


/* Media Query */


@media all and (max-width: 992px) {

    .hotel-section-left{
        margin-right: 0px;
        margin-bottom: 50px;
    }
    
    
    #hotel-section{
        flex-direction: column;
    }

    .hotel-populaire{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
    }

   
}

@media all and (max-width: 768px) {

    .hotel-section-left{
        order: 2;
        background-color: white;
        margin-bottom: 20px;
    }

    .hotel-section{
        flex-direction: column;
    }

    .hotel-cards-section{
        width: 100%;
        margin-bottom: 12px;
    }
    
    .show-more{
        display: none;
    }
}