footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
}

footer h3.footer-title{
    padding-bottom: 20px;
}

footer .footer-subcontent{
    padding-top: 45px;
    padding-bottom: 58px;
    flex: 1 1 0;
}

footer .footer-first-subcontent{
    padding-left: 70px;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer li{
    padding-bottom: 12px;
}

footer a{
    text-decoration: none;
    color: black;
}


/* Media Query */

@media all and (max-width: 768px) {
    footer{
        flex-direction: column;
        align-items:flex-start;
        padding-left: 30px;
    }

    #footer{
        padding: 0px;
    }

    footer .footer-subcontent{
        padding-top: 0px;
        padding-bottom: 50px;
    }

    footer .footer-first-subcontent{
        padding-top: 45px;
        padding-left: 0px;
    }
}