header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header #logo-container{
    flex-grow: 1;
    padding-top: 44px;
}

.logo{
    height: 19px;
    width: 61.09px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    width: 408px;
    justify-content: space-around;
    margin: 0 auto;
}

header nav li a{
    padding-top: 46px;
    display: block;
}

header nav li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: black;
}

header nav a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    font-weight: 500;
}

/* Media Query*/

@media only all and (max-width: 768px) {

    #head{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    header nav{
        order: 2;
        width: 100%;
    }

    header nav ul{
        width: auto;
        padding: 0;
        margin: 0;
    }

    header nav li{
        display: flex;
        width: 50%;
        justify-content: center;
        padding-bottom: 23px;
        border-bottom: 3px solid #f2f2f2;
    }

    header nav li:hover{
        border-bottom: 3px solid #0065FC;
    }

    header nav a:hover{
        border-top: none;
    }

    header #logo-container{
        display: flex;
        justify-content: center;
        padding-top: 21px;
    }
}
