nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid black 1px;*/
}

nav img{
    height: 19px;
    margin: 44px 55px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    font-size: 16px;
    font-weight: 400;
    margin: 0 77px 0 0px;
}

nav li :hover{
    font-weight: 500;
    color: #0065FC;
    padding-top: 42px;
    border-top: solid #0065FC 2px;
}

nav a{
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
  nav{
    flex-direction: column;
  }

  nav li :hover{
    border-top: none;
    border-bottom: solid #0065FC 3px;
  }
}