*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1400px;
    margin: auto;
    padding: 0 50px;
}

h1{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
}

h2{
    font-size: 22px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

h4{
    font-size: 18px;
    font-weight: 700;
}

strong{
    font-weight: 600;
}

p{
    font-size: 16px;
}

a:hover{
    cursor: default;
}

li{
    font-size: 16px;
    font-weight: 400;
}

/* Media Query */

@media all and (max-width: 768px) {

.wrapper{
    margin: auto;
    padding: 0 20px;
}
}