@import url("page.css");
@import url("header.css");
@import url("section-search.css");
@import url("Filter.css");
@import url("section-hotel.css");
@import url("cards-hotel.css");
@import url("activity.css");
@import url("footer.css");


/* *, *:after, *:before{
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
} */

/*Add custom elements*/


@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  
}